.course-card {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 20rem;
}

.course-image-container {
  padding: 1rem;
}

.course-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.course-info {
  padding: 1rem;
}

.course-heading {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.course-description {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #666;
}
